#include <windows.h>

VS_VERSION_INFO    VERSIONINFO
FILEVERSION        0,0,3,0
PRODUCTVERSION     0,0,3,0
FILEFLAGSMASK      0x3fL
FILEFLAGS          0x00000000L
FILEOS             VOS__WINDOWS32
FILETYPE           VFT_APP
FILESUBTYPE        VFT2_UNKNOWN
BEGIN
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END

    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "UozaLab"
            VALUE "FileDescription",  ""
            VALUE "FileVersion",      "0.0.3.0\0"
            VALUE "InternalName",     "\0"
            VALUE "LegalCopyright",   "Copyright (c) 2024-2026 UozaLab\0"
            VALUE "OriginalFilename", "\0"
            VALUE "ProductName",      "UBR\0"
            VALUE "ProductVersion",   "0.0.3.0\0"
        END 
    END
END
